{% sw_extends '@Storefront/storefront/page/checkout/finish/index.html.twig' %}
{% block base_navigation %}
	<div class="nav-main">
		{% block base_navigation_inner %}
			{% sw_include '@Storefront/storefront/layout/navigation/navigation.html.twig' %}
		{% endblock %}
	</div>
{% endblock %}
