.container-main{
  padding: 0;
}
.top-bar{
  background-color: #777777;
  color: white;
  font-size: 0.7rem;
  top: 0;
  .top-bar-nav{
    min-height: auto;
  }
}
.sub-bar{
  background-color: #9D2F42;
  opacity: 0.5;
  * {
    color: white;
  }
}

.header-main{
  min-height: 6rem;
  flex-direction: column;
  display: flex;
  > .container{
    min-height: 6rem;
    justify-content: center;
    display: flex;
    flex-direction: column;
    .header-row{
      padding-bottom: 0;
    }
  }
}

.main-navigation {
  background-color: black;

  .main-navigation-link {
    color: white;
    text-align: center;
    &.active {
      text-decoration: none;
      .main-navigation-link-text {
        border: none;

      }
    }
    &:hover {
      color: #9D2F42;
    }
  }
}

.background-contain{
  .is-cover {
    background-size: contain;
    font-family: "object-fit: contain;";

    &.cms-image-container{
      min-height: auto !important;
      .cms-image{
        object-fit: contain !important;
        font-family: "object-fit: contain;" !important;
        position: relative !important;
      }
    }

  }
}

.navigation-flyout-categories
{
  .navigation-flyout-col{
    margin-bottom: 0 !important;
  }
  .is-level-0 {
    > .navigation-flyout-col::before{
      border: none;
    }
  }
}


