.container-main{
  padding: 0;
}
.sub-bar{
  background-color: #9D2F42;
  opacity: 0.5;
  * {
    color: white;
  }
}

.main-navigation {
  background-color: black;

  .main-navigation-link {
    color: white;
    &.active {
      text-decoration: none;
      .main-navigation-link-text {
        border: none;

      }
    }
    &:hover {
      color: #9D2F42;
    }
  }
}

.navigation-flyout-categories
{
  .navigation-flyout-col{
    margin-bottom: 0 !important;
  }
  .is-level-0 {
    > .navigation-flyout-col::before{
      border: none;
    }
  }
}