{% sw_extends '@Storefront/storefront/page/product-detail/configurator.html.twig' %}


{% block page_product_detail_configurator_group_title %}
	<div class="product-detail-configurator-group-title">
		{% block page_product_detail_configurator_group_title_text %}
		{% endblock %}
	</div>
{% endblock %}
