<div class="top-bar sub-bar d-none d-lg-block">
    <div class="container">
        <p class="text-center p-1 font-weight-bold text-uppercase">
            {{ "header.sub-bar.text" | trans }}
        </p>

    </div>

</div>