{% sw_extends '@Storefront/storefront/layout/header/top-bar.html.twig' %}

{% block layout_header_top_bar %}
    <div class="top-bar d-none d-lg-block">
        <div class="container">
            <nav class="top-bar-nav">
                {% block layout_header_top_bar_language %}
{#                    {% sw_include '@Storefront/storefront/layout/header/actions/language-widget.html.twig' %}#}
                {% endblock %}

                {% block layout_header_top_bar_currency %}
{#                    {% sw_include '@Storefront/storefront/layout/header/actions/currency-widget.html.twig' %}#}
                {% endblock %}

                {# @deprecated tag:v6.5.0 - will be removed, has been moved to footer #}
                {% block layout_header_top_bar_service %}
                    <div class="row col-12" style="text-align: center; display: flex; max-height: 2.5rem;">
                        <div class="col-4">
                        {{ 'header.top-bar.text1'|trans|raw}}
                        </div>
                        <div class="col-4">
                        {{'header.top-bar.text2'|trans|raw}}
                        </div>
                        <div class="col-4" style="margin-top: -0.8rem;">
                        {% set tsConfig = config('trustedShopsApp.config') %}
                        {% set tsChannelId = context.salesChannel.id ?? null %}     
                        {% if tsChannelId is not null %}
                        {% if tsConfig[tsChannelId].widgets is defined and tsConfig[tsChannelId].widgets is not null %}
                            {% if tsConfig[tsChannelId].widgets is defined and expectedMapping[tsChannelId] === tsConfig[tsChannelId].widgets.eTrustedChannelRef %}
                                {% set widgetConfig = tsConfig[tsChannelId].widgets.children.0 %}
                                {# {{dump()}} #}
                                {% sw_include '@Storefront/storefront/includes/script-assembler.html.twig' with {
                                    scriptConfig: widgetConfig
                                } %}
                                {% sw_include '@Storefront/storefront/includes/widget-assembler.html.twig' with {
                                    widgets: tsConfig[tsChannelId].widgets.children.0.children,
                                    product: product,
                                    widgetLocationId: 'wdg-loc-hp'
                                } %}
                            {% endif %}
                        {% endif %}
                        {% endif %}
                        </div>
                    </div>

                {% endblock %}
            </nav>
        </div>
    </div>
{% endblock %}
